# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries
- Table for Data Science Tools
- Examples of codes

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. JavaScript
6. Scala
7. PHP

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Seaborn
7. Keras

| Data Science Tools |
| --- | 
| Jupyter Notebooks | 
| R Studio | 
| Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Auther

Yuan Li